<IfModule mod_rewrite.c>
	RewriteEngine on
#	Uncomment this if mod_rewrites are not working for you. some hosting services have cranky mod_rewrite
#	RewriteBase		/users/

	# default route catcher for *.php in package dir
	RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI}.php  -f
	RewriteRule ^(.*?)$					$1.php [L,QSA]

	# pass directories through
	RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI}  -d
	RewriteRule ^						- [L,QSA]

#	rule to support users/view/alan
	RewriteRule		^view/([-A-Za-z0-9_]+)$		index.php?home=$1 [L,QSA]

#	rule to support users/grace
	RewriteRule	^([-A-Za-z0-9_]+)$		index.php?home=$1 [L,QSA]

</IfModule>
