<IfModule mod_rewrite.c>
	RewriteEngine on
#	Uncomment this if mod_rewrites are not working for you. some hosting services have cranky mod_rewrite
#	RewriteBase		/users/

#	These should pass existing files on through, but do not for some reason. needs to be debugged, 
#	and then \. can be added to regex's below
#    RewriteCond %{DOCUMENT_ROOT}%{SCRIPT_FILENAME}  -f [OR]
#    RewriteCond %{DOCUMENT_ROOT}%{SCRIPT_FILENAME}/index.php    -f
#    RewriteRule ^/.*        - [L]

	RewriteRule		^view/([-A-Za-z0-9_]+)$		index.php?home=$1 [L,QSA]
	RewriteRule		^([-A-Za-z0-9_]+)$		index.php?home=$1 [L,QSA]
</IfModule>
